body{
    background-color: rgb(220, 220, 220);
}

.form{
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;
}

.container{
    background-color: rgb(255, 254, 254);
    padding: 40px;
    border-radius: 6px;
}

input, button{
    margin: 10px;
    padding: 5px;
}

.title{
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
