body{
    background-color: rgb(242, 242, 242);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100%;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.left-part{
    max-width: 400px;
    margin-right: 40px;
}

.right-part{
    width: 360px;
}

.form{
    background-color: white;
    text-align: center;
    padding: 16px;
    border-radius: 8px;
}

.logo{
    width: 220px;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 12px;
    margin: 6px 0;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 6px;
    box-sizing: border-box;
}

.submit-btn{
    background-color: rgb(33, 112, 250);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button{
    background-color: rgb(23, 179, 34);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.footer {
    background: rgb(220, 222, 224);
    padding: 30px;
    font-size: 13px;
    color: #65676b;
    text-align: left;
    padding-left: 500px;
}

.footer div {
    margin-bottom: 8px;
}

.footer div:last-child {
    margin-bottom: 0;
}