.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}


h3 {
  margin: 10px 0;
  font-size: 18px;
}

p {
  font-size: 14px;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  margin-bottom: 8px;
}

.rating {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #ff0055;
  color: white;
}

button:hover {
  opacity: 0.8;
}
