body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}
.page {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.left-part{
    flex: 1;
    padding: 30px 60px;
    border-right: 1px solid rgb(219, 219, 219);
}

.right-part{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    text-align: center;
    margin-bottom: 10px;
}

.logo{
    width: 55px;
}

.mockup-image{
    width: 100%;
    max-width: 380px;
    margin: 30px auto 0;
    display: block;
}

h2{
    font-size: 28px;
    color: black;
    text-align: center;
}

.colored-text{
    color: rgb(231, 0, 89);
    font-weight: bold;
}

.title{
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
}

input{
    width: 100%;
    padding: 9px 0 7px 8px;
    margin: 0 0 6px 0;
    border-radius: 3px;
    font-size: 14px;
}

.submit-btn{
    background-color: rgb(178, 223, 252);
    color: white;
    border: none;
    font-weight: bold;
    width: 100%;
    margin-top: 8px;
    padding: 9px;
    border-radius: 4px;
    font-size: 14px;
}

.forgot-link{
    color: rgb(0, 149, 246);
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    margin: 12px;
    margin-bottom: 50px;
}

.facebook-btn{
    background-color: white;
    color: rgb(0, 149, 246);
    padding: 8px;
    border-radius: 4px;
    font-weight: bold;
    width: 100%;
    font-size: 14px;
}

.facebook-icon{
    width: 16px;
    height: 16px;
}

.create-btn{
    background-color: white;
    color: rgb(0, 149, 246);
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
}

.meta-logo{
    width: 100px;
    margin: 10px auto 0;
}

.footer {
    border-top: 1px solid rgb(219, 219, 219);
    padding: 20px 10px;
    font-size: 12px;
    color: rgb(142, 142, 142);
    text-align: center;
}

.footer-links {
    margin-bottom: 12px;
    line-height: 1.6;
}

.footer-bottom {
    font-size: 12px;
}
